---
title: "Social Intelligence Lab"
layout: single
permalink: /
excerpt: "Humboldt-Universität zu Berlin"
header:
    overlay_image: /assets/images/Lab_photo_2025.jpeg
    overlay_filter: 0.3 # same as adding an opacity of 0.5 to a black background
---
<h2>About</h2>
<p>The Social Intelligence Lab investigates the cognitive mechanisms that underlie our ability to adapt successfully to our social environment. Furthermore, we investigate intentional and cognitive control of behavior.</p>


<h2>Paper coming out !!!</h2>
<p>Asieh has an article accepted by Royal Society Open Science. Check them out in the following links: <a href="https://doi.org/10.1098/rsos.250200">https://doi.org/10.1098/rsos.250200</a>
    Congratulations to Asieh!</p>
<br>


<div>
    <ul>
        {% for event in site.data.events %}
        <li>
            {% if event.date%}
            <b>{{event.date}} - </b>
            {% endif %}
            {{event.description}}
        </li>
        {% endfor %}
    </ul>
</div>
