---
title: "Social Intelligence Lab"
layout: single
permalink: /
excerpt: "Humboldt-Universität zu Berlin"
header:
    overlay_image: /assets/images/lab photo 2023.jpg
    overlay_filter: 0.3 # same as adding an opacity of 0.5 to a black background
---
<h2>About</h2>
<p>The Social Intelligence Lab investigates the cognitive mechanisms that underlie our ability to adapt successfully to our social environment. Furthermore, we investigate intentional and cognitive control of behavior.</p>

<h2>News</h2>
<p>Marcel has recently written a blog post about free will posted in Einstein Foundation (in German)! Check them out if you are interested!
<p><a href="https://www.einsteinfoundation.de/einblicke/medien/eine-frage-der-freiheit/marcel-brass/teil-1">Blog Post 1</a>
<p><a href="https://www.einsteinfoundation.de/einblicke/medien/eine-frage-der-freiheit/marcel-brass/teil-2">Blog Post 2</a>
<br>

<div>
    <ul>
        {% for event in site.data.events %}
        <li>
            {% if event.date%}
            <b>{{event.date}} - </b>
            {% endif %}
            {{event.description}}
        </li>
        {% endfor %}
    </ul>
</div>
