---
title: "Social Intelligence Lab"
layout: single
permalink: /
excerpt: "Humboldt-Universität zu Berlin"
header:
    overlay_image: /assets/images/lab photo 2023.jpg
    overlay_filter: 0.3 # same as adding an opacity of 0.5 to a black background
---
<h2>About</h2>
<p>The Social Intelligence Lab investigates the cognitive mechanisms that underlie our ability to adapt successfully to our social environment. Furthermore, we investigate intentional and cognitive control of behavior.</p>

<h2>Paper coming out in Psychological Review</h2>
<p>Sam has an article accepted by Psychological Review. Check it out in the following link: <a href="https://osf.io/preprints/psyarxiv/qmeyh/">https://osf.io/preprints/psyarxiv/qmeyh</a>
    Congratulations to Sam!</p>
<br>

<h2>In memory of our friend and colleague</h2>
<p>On July 17, we lost our colleague and friend Matilde Rocca. Matilde had an uncompromising dedication to science and was deeply concerned about the well being of others. Her sudden death will leave a painful gap in our team. We stand in grief with her family and friends.</p>
<br>

<div>
    <ul>
        {% for event in site.data.events %}
        <li>
            {% if event.date%}
            <b>{{event.date}} - </b>
            {% endif %}
            {{event.description}}
        </li>
        {% endfor %}
    </ul>
</div>
